@media all and (min-device-width:320px) {
  body { font-size: 16px!important; }
}
@media all and (min-device-width:768px) {
  body { font-size: 16px!important; }
}
@media all and (min-device-width:1024px) {
  body { font-size:19px!important; }
}
body {
  line-height: 1.6em!important;
  padding: 0;
  font-family: 'Helvetica Neue', helvetica, sans!important;
  text-rendering: optimizeLegibility!important;
  color: #4A525A!important;
}
